<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <p>
        <label>Username</label>
        <input type="text" name="username" />
      </p>
      <p>
        <label>Password</label>
        <input type="text" name="password" />
      </p>
      <p>
        <label>Role</label>
        <select name="role">
          <option value="admin">Admin</option>
          <option value="staff">Staff</option>
        </select>
      </p>
      <p>
        <label>Departments</label>
        <select name="DepartmentId">
          <option selected disabled>=choose department=</option>
          <% data.forEach(el => { %>
          <option value="<%= el.id %>"><%= el.name %></option>
          <% }) %>
        </select>
      </p>
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
